@namespace BlazorWasm.Components
@inject IStringLocalizer<Lang> L
<Router AppAssembly="@typeof(BlazorShared.Lang).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(BlazorShared.Layout.Body)" />
		<FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<LayoutView Layout="@typeof(BlazorShared.Layout.Body)">
			<p role="alert">@L["Sorry, there's nothing at this address."]</p>
		</LayoutView>
	</NotFound>
</Router>
